<div style='display:none'>
  <%= link_to '#', '#email-template', :class => 'submit_fancybox', :id => 'link-to-email-template' %>
  <div id="email-template">
    <h2><%= t('.format_email') %></h2>
    <div class='field'>
      <%= f.text_area      :email_body %>
    </div>
    <div class='field'>
      <%= f.submit :id => 'email_submit'  %> <%= t('.or') %>
      <%= link_to t('.cancel'), '#', :id => 'email_cancel' %>
    </div>
  </div>
</div>