<%= form_for post, :html => {:class => 'post_form'} do |f| %>
  
  <%= error_messages_for post %>
  
  <div class="main-attributes">
    
    <div class='field'>
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => 'editor' %>
    </div>

    <div class='field'>
      <%= f.label :title %> <br />
      <%= f.text_field :title, :class => 'original' %>
    </div>

    <div class='field'>
      <%= f.label :category_id %> <br />
      <%= select_tag 'post[category_id]', category_options(post).html_safe %>
    </div>
    <%= render 'image_form' %>
  </div>
  
  <div class='sharing-attributes'>
    <% notifications.each do |notification| %>
      <%= f.fields_for :notifications, notification do |nf| %>
        <%= render "#{notification.kind}_form", :notification => notification, :nf => nf %>
      <% end %>
    <% end %>
  </div>
  
  <div class='submit field'>
    <%= f.submit :id => 'create_post_button' %>
  </div>
  
<% end %>