<%= form_for post, :html => {:class => 'post_form'} do |f| %>
  
  <div class="main-attributes">
    
    <div class='field'>
      <%= f.label :body %><br />
      <%= f.text_area :body, :class => 'editor' %>
    </div>

    <div class='field'>
      <%= f.label :title %> <br />
      <%= f.text_field :title, :class => 'original' %>
    </div>

    <div class='field'>
      <%= f.label :category_id %> <br />
      <%= select_tag 'post[category_id]', category_options(post).html_safe %>
    </div>
    <%= render 'image_form' %>
  </div>
  
  <div class='sharing-attributes'>
    <div class='field'>
      <%= f.fields_for :notifications do |nf| %>
        <%= render "email_form", :nf => nf, :f => f %>
        <%= nf.hidden_field :kind %>
        <%= nf.check_box    :email_notify, :class => 'trigger-optional', :checked => false, 
                            :class => 'email_checkbox' %> 
        <%= nf.label        :email_notify %>
      <% end %>
    </div>
  </div>
  
  <div class='submit field'>
    <%= f.submit :id => 'create_post_button' %>
  </div>
  
<% end %>