<div style='<%= hide_if_no_invited_author(f.object) %>' id="invited_author">
  <%= f.fields_for :invited_author do |i| %>
    <div>
      <%= i.label :name %><br/>
      <%= i.text_field :name %>
    </div>
    <div>
      <%= i.label :email %><br/>
      <%= i.text_field :email %>
    </div>
  <% end %>
</div>
