<div class='field'>
  <%= check_box_tag :twitter_notify, 1, notification.default?, :class => 'trigger-optional' %> 
  <%= label_tag     :twitter_notify %>
  <div class='optional' style='<%= display?(notification.default?) %>'>
    <span class='chars_left'>129</span>
    <%= nf.hidden_field :kind, :disabled => !notification.default? %>
    <%= nf.text_area    :content, :rows => 5, :cols => 10, :maxlength => 129, :value => '', 
                        :disabled => !notification.default?, :class => 'small mimic' %> 
    <small><%= t('.link_to_tweet')  %></small>
  </div>
</div>
