<div class='post-actions'>
  <% if is_admin? %>
    <h2><%= t('.actions') %></h2>
    <ul>
      <li class='new'><%= link_to t('.new'), new_post_path %></li>
    </ul>
  <% end %>
  <% unless @presenter.categories.empty? %>
    <h2><%= t('.categories') %></h2>
    <ul id='categories'>
      <% @presenter.categories.each do |category|%>
        <li>
          <%= link_to category, category %> 
          <% if is_admin? %>
            <small>
              (<%= link_to t('.edit'), '#', :class => 'edit', 'data-prompt' => t('.edit_category_prompt') %> | 
               <%= link_to t('.delete'), '#', :class=> 'delete', 'data-confirm' => t('.category_delete_confirm')%>)
            </small>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<% @presenter.posts.each do |post| %>  
  <div class='post'>
    <div class='post-title'>
      <h1><%= link_to post.title, quickie_path(post) %></h1>
      <span class='published-at'><%= l post.updated_at, :format => :short %></span>
      <span class='author'><%= t('.by') %> <%= post.author %></span>
      <span class='comments-count'><%= t('.comment_count', :count => post.comments.count) %></span>
    </div>
    <div class='post-body'>
      <%= post.body.html_safe %>
    </div>
  </div>
<% end %>
